
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid black;
  width: 5.5%; 
  height: 70px;
  vertical-align: middle;
}
.element {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.hidrogeno { background-color: #ffcccc; }
.gas-noble { background-color: #ccffff; }
.alcalino { background-color: #ffebcc; }
.alcalinoterreo { background-color: #ffffcc; }
.metaloide { background-color: #e6ccff; }
.no-metal { background-color: #ccffcc; }
.halogenos { background-color: #ffccff; }
.metal { background-color: #cccccc; }

.element:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}
