body {
  font-family: Arial, sans-serif;
  text-align: center;
}
.num {
    font-size: 10px;
    text-align: left;
}
.sim {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.name {
    font-size: 9px;
    text-align: left;
}

h1 {
  margin-bottom: 20px
  color #036031;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid black;
  width: 5.5%; 
  height: 70px;
  vertical-align: middle;
}
.element {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.hidrogeno { background-color: #ffcccc; }
.gas-noble { background-color: #ccffff; }
.alcalino { background-color: #ffebcc; }
.alcalinoterreo { background-color: #ffffcc; }
.metaloide { background-color: #e6ccff; }
.no-metal { background-color: #ccffcc; }
.halogenos { background-color: #ffccff; }
.metal { background-color: #88d0da; }
.lantanido {
  background-color: #a772a0; 
}
.actinido {
  background-color: #bb7ab5; 
}
.element:hover {
  background-color: black;
  color: rgb(255, 254, 254);
  transform: scale(1.1);
}